@font-face {
    font-family: sailor;
    src: url(fonts/Kolker_Brush/KolkerBrush-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
}
div.main {
    display:flex;
    width: 100%;
    height: 100%;
}
.img-container {
    position: relative;

    display: flex;
    flex: 0;
}

img {
    height: 100vh;
    width: auto;
}

.form-flex {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    width: 95%;
    height: 95%;
    background-color: #e0ded5d7;
    display: flex;
    flex-direction: column;

}
.banner-flex{
    /* display: flex;
    justify-content: center;
    align-content: center; */
    font-size: 3em;
    color: rgba(255, 255, 255, 0.767);
}
.banner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: rgba(39, 38, 38, 0.322);
    top:40vh;
    font-family: sailor, Times, serif;
}

.form-container div {
    display: flex;
    flex:1;
    flex-direction: column;
}

.top-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    padding: 30px;
}

.form-container > div:nth-child(2) {
    padding: 30px;
}
